<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/style/admin.css" rel="stylesheet" id="css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="conteiner">
        <div class="nav-side-menu">
            <div class="brand">Akıllı Çıktı Admin Paneli</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a href="?page=admin">
                            <i class="fa fa-dashboard fa-lg"></i> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="?page=qrcode">
                            <i class="fa fa-qrcode fa-lg"></i> QR Kod Sayfası
                        </a>
                    </li>
                    <li>
                        <a href="?page=links">
                            <i class="fa fa-link fa-lg"></i> Linkler
                        </a>
                    </li>
                    <li>
                        <a href="?page=settings">
                            <i class="fa fa-cogs fa-lg"></i> Ayarlar
                        </a>
                    </li>
                    <li>
                        <a href="?page=settings">
                            <i class="fa fa-exclamation-triangle fa-lg"></i> Raporlar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Item-->
        <div class="cart-item d-md-flex justify-content-between">
            <span class="remove-item">
                <i class="fa fa-times"></i>
            </span>
            <div class="product-cont px-3 my-3">
                <div class="cart-item-product" href="#"></a>
                    <div class="cart-item-product-info">
                        <h4>ksdhfjurfvk - 12.04.2021 - 18.30</h4>
                    </div>
                    <div class="cart-item-products">
                        <!--- start -->
                        <div class="card">
                            <i class="card-header product fa fa-file-pdf-o">
                                <a href="asdsa"> osym_giris.jpeg</a>
                            </i>
                            <i class="px-3 my-1"> kopya = 12</i>
                        </div>
                        <!--- end -->
                        <!--- start -->
                        <div class="card">
                            <i class="card-header product fa fa-file-pdf-o">
                                <a href="asdsa"> osym_giris.pdf</a>
                            </i>
                            <i class="px-3 my-1"> arkalı önlü</i>
                            <i class="px-3 my-1"> kopya = 12</i>
                            <i class="px-3 my-1"> sayfalar = 12,12,42</i>
                        </div>
                        <!--- end -->
                        <!--- start -->
                        <div class="card">
                            <i class="card-header product fa fa-file-pdf-o">
                                <a href="asdsa"> osym_giris.pdf</a>
                            </i>
                            <i class="px-3 my-1"> arkalı önlü</i>
                            <i class="px-3 my-1"> kopya = 12</i>
                            <i class="px-3 my-1"> sayfalar = 12,12,42</i>
                        </div>
                        <!--- end -->
                        <!--- start -->
                        <div class="card">
                            <i class="card-header product fa fa-file-pdf-o">
                                <a href="asdsa"> osym_giris.pdf</a>
                            </i>
                            <i class="px-3 my-1"> arkalı önlü</i>
                            <i class="px-3 my-1"> kopya = 12</i>
                            <i class="px-3 my-1"> sayfalar = 12,12,42</i>
                        </div>
                        <!--- end -->
                        <!--- start -->
                        <div class="card">
                            <i class="card-header product fa fa-file-pdf-o">
                                <a href="asdsa"> osym_giris.pdf</a>
                            </i>
                            <i class="px-3 my-1"> arkalı önlü</i>
                            <i class="px-3 my-1"> kopya = 12</i>
                            <i class="px-3 my-1"> sayfalar = 12,12,42</i>
                        </div>
                        <!--- end -->

                        <!--- start -->
                        <div class="card">
                            <i class="card-header product fa fa-file-pdf-o">
                                <a href="asdsa"> osym_giris.jpg</a>
                            </i>
                            <i class="px-3 my-1"> kopya = 12</i>
                        </div>
                        <!--- end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>