<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" action='' method="GET" enctype="multipart/form-data">
			  <fieldset>
			    <div id="legend">
			      <legend class="">Giriş Yap</legend>
			    </div>
			    <div class="control-group">
			      <!-- Username -->
			      <label class="control-label"  for="username">Kullanıcı Adı</label>
			      <div class="controls">
			        <input type="text" id="name" name="name" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Password-->
			      <label class="control-label" for="password">Şifre</label>
			      <div class="controls">
			        <input type="password" id="pass" name="pass" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-success">Giris</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>
