{% extends "admin.html" %}
{% block refreshDelay %}
{% endblock %}
{% block container %}
<div class="container" style="margin-bottom: 10px;margin-top: 10px;">
    <div class="row">
        <div class="col">
            <div style="margin-top: 80px;margin-left: 40px;">
                <h2 style="text-align: left;color: rgb(51,52,65);margin-bottom: 40px;">Akıllı Çıktı Uygulamasını
                    Kullanmak İçin</h2>
                <h4>1. Telefonunuzda bulunan herhangi bir kare kod okuyucu ile ekranda gördüğünüz kodu okutun.<br><br>2.
                    Telefonunuzda çıkan ekrandan dosyalarınızı seçin, ardından yükle butonuna tıklayın.<br><br>3.
                    Dosyalarınızı yükledikten sonra yazdırma ayarlarınızı özelleştirin ve "yazdır" butonuna
                    tıklayın.<br><br></h4>
            </div>
        </div>
        <div class="col-xl-5"><img class="d-xl-flex justify-content-xl-center align-items-xl-center" src="{{qrcode}}"
                style="width: 80%; margin-top:60px;margin-left:40px;"></div>
    </div>
</div>
{% endblock %}